.footbar {  /* Corrected class name for consistency */
    background-color: #FEF200;
    color: black;  /* Ensures text color is black */
  }
  

  
  .leftside {  /* Corrected class name for consistency */
    display: flex;  /* Ensures items are laid out horizontally */
    flex-wrap: wrap;  /* Wraps items onto multiple lines if needed */
    justify-content: center;  /* Centers items horizontally by default */
  
    @media (min-width: 768px) { /* Adjusts layout for medium screens and above */
      justify-content: flex-start;  /* Aligns items to the left on medium screens */
    }
  }
  
  .leftitems {
    margin-right: 5px;  /* Adjust spacing between text items */
    /* Assuming this is a shorthand for font-size: 0.875rem; */
    color: black;  /* Ensures text color is black by default */
    transition: color 0.2s ease-in-out;  /* Adds a smooth hover effect */
    cursor: pointer;  /* Indicates clickable elements */
  
   
  &:hover {
     /* Hover color */
    font-weight: bold;  /* Bold text on hover */
  }
}
.centeritems {
  font-weight: bold;  /* Makes text bold */
  display: flex;     /* Ensures items are laid out horizontally */
  flex-direction: column;  /* Stacks items vertically by default */

  @media (min-width: 768px) {  /* Adjusts layout for medium screens and above */
    flex-direction: row;  /* Makes items horizontal on medium screens */
    items-center: center;  /* Aligns items vertically in the center */
  }
}

















  .item {
    margin: 0 10px;  /* Spacing between icons */
  }